In [1]:
#Q1 First Program

a='Hello Vibhav'
print (a)

Hello Vibhav

#Write a program which will find all such numbers which are divisible by 7 but are not a multiple
#of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
#comma-separated sequence on a single line.

In [2]:
a = []
x=range(2000,3200)
for i in x:
    if i%7==0 and i%5==0:
        a.append(str(i))
        print(','.join(a))

2030
2030,2065
2030,2065,2100
2030,2065,2100,2135
2030,2065,2100,2135,2170
2030,2065,2100,2135,2170,2205
2030,2065,2100,2135,2170,2205,2240
2030,2065,2100,2135,2170,2205,2240,2275
2030,2065,2100,2135,2170,2205,2240,2275,2310
2030,2065,2100,2135,2170,2205,2240,2275,2310,2345
2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380
2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415
2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450
2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485
2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520
2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555
2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590
2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625
2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660
2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695
2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730
2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730,2765
2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730,2765,2800
2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730,2765,2800,2835
2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730,2765,2800,2835,2870
2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730,2765,2800,2835,2870,2905
2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730,2765,2800,2835,2870,2905,2940
2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730,2765,2800,2835,2870,2905,2940,2975
2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730,2765,2800,2835,2870,2905,2940,2975,3010
2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730,2765,2800,2835,2870,2905,2940,2975,3010,3045
2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730,2765,2800,2835,2870,2905,2940,2975,3010,3045,3080
2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730,2765,2800,2835,2870,2905,2940,2975,3010,3045,3080,3115
2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730,2765,2800,2835,2870,2905,2940,2975,3010,3045,3080,3115,3150
2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730,2765,2800,2835,2870,2905,2940,2975,3010,3045,3080,3115,3150,3185

In [3]:
x=range(2000,3200)
for i in x:
    if i%7==0 and i%5==0:
        print(i)

2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695
2730
2765
2800
2835
2870
2905
2940
2975
3010
3045
3080
3115
3150
3185

In [4]:
#Write a Python program to accept the user's first and last name and then getting them printed in
#the the reverse order with a space between first name and last name.

In [5]:
A = "Vibhav"
B = "Kumar"
#print(B,A)
name = (B + " " + A) 
print(name)
print(''.join(reversed(name)))

Kumar Vibhav
vahbiV ramuK

In [6]:
#Write a Python program to find the volume of a sphere with diameter 12 cm.

In [7]:
pi = 3.141
r = 6.0
v = 4.0/3.0 * pi * r**3
print("the volume of sphere is:",v)

the volume of sphere is: 904.608

In [8]:
#Write a program which accepts a sequence of comma-separated numbers from console and
#generate a list.

In [17]:
value=input("From a comma-separated list of numbers get:\n a List and a Tuple:\n")
list = value.split(",")
tuple = (*list,)
list=(tuple)
print = (list)
#print = (tuple)

From a comma-separated list of numbers get:
 a List and a Tuple:
1,2,3,4

In [10]:
#Write a Python program to reverse a word after accepting the input from the user.

In [14]:
a= 'AcadGild'
a[::-1]

'dliGdacA'

In [12]:
#Write a Python Program to print the given string in the format specified in the

In [1]:
print("""WE, THE PEOPLE OF INDIA,
having solemnly resolved to constitute India into a SOVEREIGN,!
SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC,
and to secure to all its citizens,""")

WE, THE PEOPLE OF INDIA,
having solemnly resolved to constitute India into a SOVEREIGN,!
SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC,
and to secure to all its citizens,

In [19]:
for i in range(6):
  print('*' * i)
  if i == 5:
    for l in range(6):
      print('*' * (i-l-1))

TypeError: 'tuple' object is not callable

In [2]:
n =10
print('\n'.join(['*'*i for i in range(1,n+1)]))
print('\n'.join(['*'*i for i in range(n+1,0,-1)]))

*
**
***
****
*****
******
*******
********
*********
**********
***********
**********
*********
********
*******
******
*****
****
***
**
*